@keyframes Apearleft {
    from{
        translate: -100% 0;
    }
    to{
        translate: 0 0;
    }
}

.navMenu{
    display: flex;
    flex-direction: column;
    height: 350px;
    top: 80px;
    left: 0;
    padding: 30px;
    position: absolute;
    background-color: rgba(1, 5, 13, .99);
    border-radius: 0px 20px 20px 0px;
    animation: Apearleft .5s forwards;
}
.navMenu a{
    font-size: x-large;
    color: white;
    text-decoration: none;
    border-bottom: .5px solid white;
    margin: 15px;
}
.navMenu a:hover{
    color: rgb(210, 210, 210);
}