.main-defFlowers{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.flowers-section-defFlowers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Define columnas flexibles */
    gap: 10px; /* Espacio entre elementos */
    overflow-y: auto; /* Permite desplazamiento vertical */
    scrollbar-color: #0032cc white;
    padding: 10%;
    height: 70%;
    width: 90%;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
