main{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.h1-menu{
    pointer-events: none;
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    z-index: 2;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trl10{
    translate: 0 10px;
}
.trl-10{
    translate: 0 -10px;
}

.menu-opt{
    text-decoration: none;
    color: #191919;
}

@media (max-width: 450px) {
    main{
        height: 100vh;
        justify-content: start;
        overflow: auto;
    }

    .h1-menu{
        padding-left: 20%;
        justify-content: start;
        font-size: x-small;
    }
    
    section{
        flex-direction: column;
    }

    .menu-opt{
        margin-top: 15%;
    }

    .btn-subs{
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        z-index: 3;
    }
}