.menu-main{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trl10{
    translate: 0 10px;
}
.trl-10{
    translate: 0 -10px;
}

.menu-opt{
    text-decoration: none;
    color: #191919;
}

.help-section {
    position: fixed;
    bottom: 20px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateY(100%);
    opacity: 0;
}

.help-section.visible {
    transform: translateY(0);
    opacity: 1;
}

.help-section.hidden {
    display: none;
}

.close-help-sect {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #191919;
}

.help-section div {
    text-align: center;
}

.help-section a {
    color: #007bff;
    text-decoration: none;
    margin: 5px 0;
}

.help-section a:hover {
    text-decoration: underline;
}

.help-section h2 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #191919;
}

.social-icons {
    display: flex;
    gap: 10px;
    font-size: 2rem;
}

.social-icons a {
    color: #191919;
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.1);
}


.btn-help{
    position: fixed;
    bottom: 0; left: 0;
    font-size: xx-large;
    background-color: white;
    border-radius: 50%;
    z-index: 8;
    cursor: pointer;
}


/*Tablet portrait*/
@media (min-width: 451px) and (max-width: 1024px) and (min-height: 720px) {
    .menu-main{
        height: 100vh;
        justify-content: flex-start !important;
        overflow: auto;
    }
    
    .opts-container-menu{
        flex-direction: column;
        align-items: center;
        margin-top: 8dvh;
        width: 100dvw;
        scroll-behavior: smooth;
        overflow-y: scroll;
        scrollbar-width: auto;
        scrollbar-color: #0032cc white;
    }

    .menu-opt{
        
    }

    .btn-subs{
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px;
        z-index: 3;
    }
}

/*Mobile Portrait*/
@media (max-width: 450px) {
    .menu-main{
        height: 100%;
        justify-content: flex-start !important;
        overflow: hidden;
    }
    
    .opts-container-menu{
        flex-direction: column;
        align-items: center;
        margin-top: 8dvh;
        width: 100dvw;
        scroll-behavior: smooth;
        overflow-y: scroll;
        scrollbar-width: auto;
        scrollbar-color: #0032cc white;
    }

    .trl10, .trl-10{
       translate: 0; 
    }

    .btn-subs{
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px;
        z-index: 3;
    }
    .help-section{
        height: 300px;
    }
}

/*Mobile Landscape*/
@media (max-height: 450px) and (min-width: 650px) and (max-width: 950px) {
    .menu-main{
        height: 100vh;
        justify-content: start;
        overflow: auto;
    }

    
    section{
        flex-direction: row;
    }

    .opt-rect{
        margin-top: 0% !important;
        width: 80px !important;
        height: 100px !important;
        font-size: small !important;
        white-space: nowrap;
    }
    .opt-rect img{
        width: 100px !important;
        height: 100px !important;
    }

    .menu-opt{
        margin-top: 15%;
    }

    .btn-subs{
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px;
        z-index: 3;
    }

    .help-section{
        height: 200px;
    }
}