nav{
    background: linear-gradient(90deg, rgba(130,87,214,1) 10%, rgba(235,248,192,1) 100%);
    position: fixed;
    display: flex;
    width: 100vw;
    top: 0;
    justify-content: space-between;
    z-index: 3;
}

.icon, .icon-arrow{
    cursor: pointer;
    font-size: 50px;
    margin: 5%;
    margin-right: 10px;
    color: #01050d;
    z-index: 3;
}
.icon-arrow{
    margin: 0;
    font-size: 30px;
}
.icon:hover{
    cursor: pointer;
    color: rgb(26, 26, 26);
}

.menu-icon{
    cursor: pointer;
    font-size: 35px;
    translate: 2px;
    margin: 5%;
    margin-right: 10px;
    color: white;
    z-index: 3;
}
.back-menu-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01050d;
    border-radius: 50%;   
    position: relative;
    padding: 1px;
    width: 60px;
    height: 60px;
    margin: 5px;
    transition: all .5s;
}

.back-menu-icon:hover{
    scale: 1.1;
    cursor: pointer;
}

.sec1{
    display: flex;
}

.icons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

@media (max-width: 450px) {
    nav{
    }
    
    .icon, .icon-arrow{
        cursor: pointer;
        font-size: 40px;
        margin: 5%;
    }
    .icon-arrow{
        margin: 0;
        font-size: 20px;
    }
    .menu-icon{
        font-size: 18px;
    }
    .back-menu-icon{
        padding: 1px;
        width: 40px;
        height: 40px;
        margin: 2px;
    }
}

@media (max-height: 450px) {
    .icon, .icon-arrow{
        cursor: pointer;
        font-size: 40px;
        margin: 5%;
    }
    .icon-arrow{
        margin: 0;
        font-size: 20px;
    }
    .menu-icon{
        font-size: 18px;
    }
    .back-menu-icon{
        padding: 1px;
        width: 40px;
        height: 40px;
        margin: 2px;
    }
}