.option-rec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20% 0px 20% 0px;
    transition: all .1s;
}
.option-rec div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.option-rec img{}

.option-rec div h3,
.option-rec div p{
    margin: 5% 0% 5% 0%;
}

.option-rec:hover{
    cursor: pointer;
    scale: 1.05;
}