
html{
  background-color: rgb(130,87,214);
  background: linear-gradient(90deg, rgba(130,87,214,1) 10%, rgba(235,248,192,1) 100%);
  overflow: hidden;
}

html, body{
  height: 100%;
  margin: 0;
}

button {
  background-color: #01050d; 
  border: .5px solid rgba(255, 255, 255, .5) !important;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

button:active {
  background-color: white;
}

button:hover {
  border: .5px solid rgba(255, 255, 255, 1) !important;
}

.h1-menu{
  pointer-events: none;
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  z-index: 5 !important;
}

/*Tablet portrait*/
@media (min-width: 451px) and (max-width: 1024px) and (min-height: 720px) {
  .h1-menu{
    padding-left: 20%;
    justify-content: start;
    font-size: x-small;
}
}

/*Mobile Portrait*/
@media (max-width: 450px) {
  .h1-menu{
    padding-left: 20%;
    justify-content: start;
    font-size: x-small;
}
}
/*Mobile Landscape*/
@media (max-height: 450px) and (min-width: 650px) and (max-width: 950px) {
  .h1-menu{
    padding-left: 20%;
    justify-content: start;
    font-size: x-small !important;
}
}


/*---------------*/

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
