@keyframes Apearleft {
    from{
        translate: -100% 0;
    }
    to{
        translate: 0 0;
    }
}
@keyframes Apearup {
    from{
        translate: 0 -100%;
    }
    to{
        translate: 0 0;
    }
}

.navMenu, .accountDetails, .shopping-cart{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 30px;
    background-color: rgba(1, 5, 13, .99);
    border-radius: 0px 20px 20px 0px;
}
/*Menu de navegacion*/
.navMenu{
    height: 350px;
    top: 80px;
    left: 0;
    animation: Apearleft .5s forwards;
}
.navMenu a{
    font-size: x-large;
    color: white;
    text-decoration: none;
    border-bottom: .5px solid white;
    margin: 15px;
}
.navMenu a:hover{
    color: rgb(210, 210, 210);
}
/*Detalles de cuenta*/

.accountDetails p{
    font-size: medium;
    color: white;
    text-decoration: none;
    margin: 15px;
}
.accountDetails button{
    border: .5px solid rgba(255, 255, 255, .5);
}

/*Carrito*/

.shopping-cart, .accountDetails{
    justify-content: space-evenly;
    height: fit-content;
    max-height: 50dvh;
    top: 90px;
    right: 0;
    border-radius: 20px;
    animation: Apearup .5s forwards;
    z-index: 3;
    width: 20%;
}
.accountDetails{width: fit-content; height: fit-content;}

.orders-div{
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;
    scrollbar-color: white transparent;
    scrollbar-width: thin;
}

.shopping-cart p{
    font-size: medium;
    color: white;
    text-decoration: none;
    border-bottom: .5px solid white;
    margin: 15px;
    width: 50%;
    text-wrap: nowrap;
}
.shopping-cart input, .order-details-section input, .order-details-section textarea{
    all: unset;
    background-color: white;
    font-size: small;
    width: 90%;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: none;
}
.shopping-cart div{
    display: flex;
    align-items: normal;
}
.shopping-cart button{
    border: .5px solid rgba(255, 255, 255, .5);
}

.order-details-section{
    position: fixed;
    right: 25vw;
    padding: 25px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(1, 5, 13, .99);
    z-index: 2;
    height: fit-content;
    width: fit-content;
}

.order-details-section select{
    background-color: white;
    font-size: small;
    width: 50%;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: none;
}

/*Tablet Portrait*/
@media (min-width: 451px) and (max-width: 1024px) and (min-height: 720px) {
    /*Carrito*/
    
    .shopping-cart, .accountDetails{
        width: 30vw;
        min-height: 20vh;
        height: fit-content;
        top: 100px;
    }
    .accountDetails{width: fit-content; height: fit-content;}
    
    .order-details-section{
        right: 20vw;
        top: 10dvh;
    }
}

/*Mobile Portrait*/
@media (max-width: 450px) {
    /*Carrito*/
    
    .shopping-cart, .accountDetails{
        width: 50vw;
        min-height: 20vh;
        height: fit-content;
        top: 65px;
    }
    .accountDetails{width: fit-content; height: fit-content;}
   
    .order-details-section{
        right: 20vw;
        top: 10dvh;
    }
}

/*Mobile Landscape*/
@media (max-height: 450px) and (min-width: 650px) and (max-width: 950px) {
    
    /*Menu de navegacion*/
    .navMenu{
        height: 50dvh;
    }
    .navMenu a{
        font-size: small;
    }
    /*Detalles de cuenta*/
    
    .accountDetails p{
        font-size: small;
    }
    
    /*Carrito*/
    
    .shopping-cart, .accountDetails{
        width: calc(fit-content + 10px);
        min-height: 20vh;
        height: fit-content;
        max-height: 50dvh;
        top: 95px;
    }
    .accountDetails{width: fit-content; height: fit-content;}
    
    .order-details-section{
        right: 20vw;
        top: -10dvh;
        max-height: 70dvh;
        overflow-y: scroll;
        scrollbar-color: white transparent;
        scrollbar-width: thin;
        font-size: small;
    }
}