.main-mkF{
    height: 100%;
}

.accs-section, .foliage-section{
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 100px;
    background-color: white;
    height: 65vh;
    width: fit-content;
    padding: 0px 15px 0px 10px;
    border-radius: 0px 20px 20px 0px;
    overflow-y: auto;
    scrollbar-color: #01050c transparent;
    z-index: 2;
}
.accs-section{ left: 0; }
.foliage-section{ right: 0;  border-radius: 20px 0px 0px 20px;}


.bottom-section{
    position: fixed;
    flex-direction: row-reverse;
    bottom: 0;
    background-color: white;
    width: 100dvw;
    height: 16dvh;
}

.bottom-section select{
    all: unset;
    border: .5px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: small;
}

.bottom-section-div0{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 15vw;
    height: 100%;
}

 .bottom-section-div0 button{
    width: 90%;
    border-radius: 5px;
}

.bottom-section-div0 p{
    margin: 5px;
} 

.bottom-section-div1{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 1% 0 1%;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-color: #01050c transparent;
    scrollbar-width: thin;
    gap: 1%;
}

.flower-and-name-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-small;
}

.flower-and-name-container p{
    margin: 0;
    font-weight: bold;
}

.element-box {
    width: 4.5vw;
    height: 4.5vw;
    font-size: xx-large;
    background-color: transparent;
    border: 2px dashed #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
    clip-path: circle(50% at center);
    z-index: 2;
  }
  
  .element-box:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
  }
  
  .element-box:empty {
    background-color: #f0f0f0; /* Espacio vacío con un color más claro */
    cursor: pointer;
  }
  
  .element-box:active {
    transform: scale(1.1); /* Efecto de ampliación al hacer clic */
  }
  

.editor-section{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0px; top: 100px;
    width: 99vw;
    height: 68vh;
    gap: 5%;
    z-index: 1;
}

.accs-container, .flowers-container, .foliage-container{
    text-align: center;
    background-color: #01050c;
    color: white;
    height: 95%;
    border-radius: 10px;
}

.accs-container, .foliage-container{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accs-container hr, .foliage-container hr{
    width: 100%;
}

.flowers-container{
    width: 40vw;
    background-color: transparent;
}

.preview-container{
    width: 20%;
}
.flower-position {
    background-color: #555;
    position: absolute;
    width: 4vw;
    height: 4vw;
    transform: translateX(5vw);
    border: 2px dashed #555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: xx-large;
    transition: all 0.3s ease;
  }
  
  .flower-position:empty {
    background-color: transparent;
  }

  .flower-position:hover {
  background-color: #e0e0e0;
  scale: 1.1;
  }    
  
  .selected {
    border: 2px solid yellow; /* 🔥 Destaca el ítem seleccionado */
  }
  

  /*Tablet portrait*/
@media (min-width: 451px) and (max-width: 1024px) and (min-height: 720px) {
    .main-mkF{
    }
    
    .accs-section, .foliage-section{
        flex-direction: row;
        justify-content: flex-start;
        top: 8vh;
        width: 50vw;
        height: 10dvh;
        border-radius: 0;
        overflow-y: hidden;
        overflow-x: scroll;
        border-radius: 20px;
    }

    .accs-section{
        left: 5px;
    }
    
    .foliage-section{
        right: 5px;
    }
    
    
    .bottom-section{
        flex-direction: row-reverse;
        height: 15dvh;
        font-size: small;
    }
    .bottom-section-div0{
        width: 35dvw;
    }
    .bottom-section-div1{
        width: 100%;
    }
   
    .element-box {
        width: 8vw;
        height: 8vw;
        margin: 10px;
        clip-path: circle(50% at center);
    }
    .element-box img{
        width: 90% !important;
        height: 90% !important;
    }
    
    .editor-section{
        justify-content: space-between;
        flex-direction: row;
        height: 72%;
    }
    
    .accs-container, .foliage-container{
        position: fixed;
        bottom: 16dvh;
        width: fit-content;
        height: fit-content;
    }

    .accs-container{ left: 5px; }
    .foliage-container{ right: 5px; }
    
    .foliage-container h3, .accs-section h3{
        font-size: xx-small;
        margin: 3px;
    }
    .foliage-container hr, .accs-section hr{
        margin: 0;
        padding: 0;
    }
    .foliage-container div, .accs-section div{
        display: flex;
        flex-direction: row;
        margin:5px;
    }

    .flowers-container{
        height: 50dvh;
        translate: 45dvw;
    }
    
    .flowers-container{
        width: fit-content;
    }
    

    .flower-position {
        background-color: #555;
        position: absolute;
        border: 2px dashed #555;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: xx-large;
        transition: all 0.3s ease;
        transform: translateY(-20px);
        width: 45px;
        height: 45px;
      }

      .flower-position img{
        width: 40px !important;
        height: 40px !important;
      }
      
      .flower-position:empty {
        background-color: transparent;
      }
    
      .flower-position:hover {
      background-color: #e0e0e0;
      scale: 1.1;
      }    
}

/*Mobile Portrait*/
@media (max-width: 450px){
    .main-mkF{
    }
    
    .accs-section, .foliage-section{
        flex-direction: row;
        justify-content: flex-start;
        top: 8vh;
        width: 40vw;
        height: 10dvh;
        border-radius: 0;
        overflow-y: hidden;
        overflow-x: scroll;
        border-radius: 20px;
    }

    .accs-section{
        left: 5px;
    }
    
    .foliage-section{
        right: 5px;
    }
    
    
    .bottom-section{
        flex-direction: row-reverse;
        height: 15dvh;
        font-size: small;
    }
    .bottom-section-div0{
        width: 65dvw;
    }
    .bottom-section-div1{
        width: 100%;
    }
   
    .element-box {
        width: 8vw;
        height: 8vw;
        margin: 10px;
        clip-path: circle(50% at center);
    }
    .element-box img{
        width: 90% !important;
        height: 90% !important;
    }
    
    .editor-section{
        justify-content: space-between;
        flex-direction: row;
        height: 72%;
    }
    
    .accs-container, .foliage-container{
        position: fixed;
        bottom: 16dvh;
        width: fit-content;
        height: fit-content;
    }

    .accs-container{ left: 5px; }
    .foliage-container{ right: 5px; }
    
    .foliage-container h3, .accs-section h3{
        font-size: xx-small;
        margin: 3px;
    }
    .foliage-container hr, .accs-section hr{
        margin: 0;
        padding: 0;
    }
    .foliage-container div, .accs-section div{
        display: flex;
        flex-direction: row;
        margin:5px;
    }

    .flowers-container{
        height: 50dvh;
    }
    
    .flowers-container{
        width: fit-content;
    }
    

    .flower-position {
        background-color: #555;
        position: absolute;
        border: 2px dashed #555;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: xx-large;
        transition: all 0.3s ease;
        transform: translateY(-20px);
        width: 45px;
        height: 45px;
      }

      .flower-position img{
        width: 40px !important;
        height: 40px !important;
      }
      
      .flower-position:empty {
        background-color: transparent;
      }
    
      .flower-position:hover {
      background-color: #e0e0e0;
      scale: 1.1;
      }    
    
}

/*Mobile Landscape*/
@media (max-height: 450px) and (min-width: 650px) and (max-width: 950px) {
    *{
        font-size: xx-small;
    }

    .accs-section, .foliage-section{
        top: 60px;
        height: 48vh;
    }
    
    .bottom-section{
        height: fit-content;
    }



    .bottom-section-div0{
        padding: 5px;
        width: 15vw;
    } 
    .bottom-section-div1{
        gap: 0;
        align-self: center;
    }
    .element-box {
        width: 30px;
        height: 30px;
      }
      .element-box img, .flower-position img{
        width: 20px !important;
        height: 20px !important;
      }
      .element-box-mobile {
        width: 22px;
        height: 22px;
        margin: 10px;
        clip-path: circle(50% at center);
    }
    .element-box-mobile img{
        width: 15px !important;
        height: 15px !important;
    }
    


    .editor-section{
        top: 60px;
        align-items: start;
    }
    
    .accs-container, .flowers-container, .preview-container{
        height: fit-content;
    }
    
    .accs-container{
        width: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .accs-container hr{
        width: 100%;
    }
    
    .flowers-container{
        width: 40vw;
        background-color: transparent;
    }
   
    .flower-position {
        width: 25px;
        height: 25px;
        z-index: -1;
      }
}