
.main-defFlowers{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: fit-content;
    width: fit-content;
    padding: 25px;
    margin: 4%;
    margin-top: 10%;
    border-radius: 10% 0px 10% 0px;
    transition: all .3s;
}

.container-data img{
    height: 7vw;
    width: 7vw;
    border: 1px solid #01050d;
}

.container-data form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container{
    overflow-y: scroll;
    max-height: 60vh;
}
.table-container0{
    overflow-y: scroll;
    max-height: 25vh;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-y: scroll;
}


th, td {
    padding: 10px;
    text-align: left;
    max-width: 140px;
    border-bottom: 1px solid #ddd;
    overflow-x: hidden;
    white-space: nowrap;
}

th {
    background-color: #f9f9f9;
    font-weight: bold;
}

input[type='text'], input[type='email'], input[type='number'], textarea{
    resize: none;
    padding: 10px;
    margin: 2%;
    border-radius: 10px;
    border: .5px solid #01050d;
}
input[type='file']{
    margin: 2% 2% 2% 18%;
}
input[type="file"]::-webkit-file-upload-button {
    background-color: #01050d; 
    border: .5px solid rgba(255, 255, 255, .5) !important;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
  
input[type="file"]::-webkit-file-upload-button:active {
    background-color: white;  
}
input[type="file"]::-webkit-file-upload-button:hover {
    border: .5px solid rgba(255, 255, 255, 1) !important;  
}
select{
    all: unset;
    border: .5px solid black;
    padding: 5px;
    border-radius: 10px;
}

.btn-add-register{
    display: none;
}

/*Tablet portrait*/
@media (min-width: 451px) and (max-width: 1024px) and (min-height: 720px) {
    
}

/*Mobile Portrait*/
@media (max-width: 450px) {
    .main-defFlowers{
        width: 100vw;
    }
    
    .container-data{
        width: 80vw;
        height: 60dvh;
    }

    .container-data img {
        width: 100px;
        height: 100px;
    }

    .createBox{
        display: none;
        position: absolute;
        border: .5px #01050d;
        animation: Apearup .5s forwards;
    }

    .btn-add-register {
        display: block;
        position: absolute;
        bottom: 5px; right: 5px;
        border-radius: 10px;
        background-color: #01050d;
        color: white;
        font-size: xx-large;
        cursor: pointer;
    }

    .d-none{display: none;}
}

/*Mobile Landscape*/
@media (max-height: 450px) and (min-width: 650px) and (max-width: 950px) {
    
}