html{
    background: linear-gradient(135deg, #9c27b0, #ffeb3b) !important;
}

.admin-main-home{
}

.main-logo500{
    width: 100vh;
    transition: scale .5s;
}
.main-logo500:hover{
    scale: 1.1;
}
.main-logo500:active{
    scale: 1;
}
