html{
    background: linear-gradient(135deg, #9c27b0, #ffeb3b) !important;
}
.main-mkF{
    height: 100%;
}

.accs-section{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0; top: 100px;
    background-color: white;
    height: 68vh;
    width: 12vw;
    border-radius: 0px 20px 20px 0px;
}

.accs-section-div0{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    height: 100%;
    width: 100%;
    padding: 5% 0% 0% 0%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: gray rgba(0,0,0,0);
}

.accs-section-div1{
    height: 100%;
    width: 100%;
}

.bottom-section{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 100%;
    height: 15vh;
}
.bottom-section-div0{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 12vw;
    height: 100%;
}
.bottom-section-div0 input, .bottom-section-div0 button{
    width: 90%;
    border-radius: 5px;
}
.bottom-section-div0 p{
    margin: 5px;
} 
.bottom-section-div1{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 0 0 1%;
    overflow-y: hidden;
    overflow-x: scroll;
    gap: 2%;
}
.element-box {
    width: 5vw;
    height: 5vw;
    font-size: xx-large;
    background-color: transparent;
    border: 2px dashed #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
  }
  
  .element-box:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
  }
  
  .element-box:empty {
    background-color: #f0f0f0; /* Espacio vacío con un color más claro */
    cursor: pointer;
  }
  
  .element-box:active {
    transform: scale(1.1); /* Efecto de ampliación al hacer clic */
  }
  

.editor-section{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px; top: 100px;
    width: 91vw;
    height: 68vh;
    gap: 5%;
}

.accs-container, .flowers-container, .preview-container{
    text-align: center;
    background-color: #01050c;
    color: white;
    height: 95%;
    border-radius: 10px;
}

.accs-container{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accs-container hr{
    width: 100%;
}

.flowers-container{
    width: 30%;
    background-color: transparent;
}

.preview-container{
    width: 20%;
}
.flower-position {
    background-color: #fafafa;
    position: absolute;
    width: 4vw;
    height: 4vw;
    border: 2px dashed #555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: xx-large;
    transition: all 0.3s ease;
  }
  
  .flower-position:empty {
    background-color: transparent;
  }

  .flower-position:hover {
  background-color: #e0e0e0;
  scale: 1.1;
  }    
  

  /*html {
    background: linear-gradient(135deg, #9c27b0, #ffeb3b);
  }*/