html{
    background: linear-gradient(135deg, #9c27b0, #ffeb3b) !important;
}
main{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.trl10{
    translate: 0 10px;
}
.trl-10{
    translate: 0 -10px;
}

.menu-opt{
    text-decoration: none;
    color: #191919;
}