.main-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.order-section, .details-section, .progress-section {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10% 0px 10% 0px;
    padding: 20px;
    margin: 20px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-container {
    max-height: 300px;
    overflow-y: auto;
    scrollbar-color: #01050d rgba(0,0,0,0);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f9f9f9;
    font-weight: bold;
}