.login-main{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;
    margin: 5%;
    background-color: rgba(1, 5, 13, .99);
    width: 20%;
    height: 70%;
    border-radius: 20px;
    box-shadow: 0px 1px 5px rgba(255, 255, 255, 1);
}

.login-form hr{
    width: 100%;
}

.login-form input{
    all: unset;
    background-color: white;
    font-size: small;
    width: 90%;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: none;
}
.login-form select{
    background-color: white;
    font-size: small;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

/*Tablet portrait*/
@media (min-width: 451px) and (max-width: 1024px) and (min-height: 720px) {
    .login-main{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .login-form{
        width: 60vw;
        height: fit-content;
    }
    
    .login-form hr{
        width: 100%;
    }
    
    .login-form input{
        all: unset;
        background-color: white;
        font-size: small;
        width: 90%;
        padding: 5px;
        margin: 5px;
        border-radius: 10px;
        border: none;
    }
    .login-form select{
        background-color: white;
        font-size: small;
        padding: 5px;
        border-radius: 10px;
        border: none;
    }
}

/*Mobile Portrait*/
@media (max-width: 450px) {
    .login-main{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .login-form{
        width: 60vw;
        height: fit-content;
    }
    
    .login-form hr{
        width: 100%;
    }
    
    .login-form input{
        all: unset;
        background-color: white;
        font-size: small;
        width: 90%;
        padding: 5px;
        margin: 5px;
        border-radius: 10px;
        border: none;
    }
    .login-form select{
        background-color: white;
        font-size: small;
        padding: 5px;
        border-radius: 10px;
        border: none;
    }
}

/*Mobile Landscape*/
@media (max-height: 450px) and (min-width: 650px) and (max-width: 950px) {
    .login-form{
        max-height: 65dvh;
        overflow-y: scroll;
        scrollbar-color: white transparent;
        font-size: small;
    }
}
